<div class="container">
  <div class="row">
    <div class="p-5 mb-4 bg-light rounded-3">
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">User Manager App!</h1>
        <p class="col-md-8 fs-4">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Qui illum voluptatem eos aspernatur. </p>
        <a class="btn btn-primary btn-lg" routerLink="/users/add" role="button">Create New User</a>
      </div>
    </div>
  </div>

  <div class="row">

    <div class="card col-sm-3">
      <div class="card-body">
        <h5 class="card-title">John</h5>
        <p class="card-text">12322323</p>
        <a routerLink="/users/1" class="card-link">View Details</a>
      </div>
    </div>

  </div>

</div>