<div class="container-fluid">
  <div class="col">
    <div class="row" >

      <div class="col-12 col-md-6 col-lg-3 mb-3" *ngFor="let pdt of pdtList">
        <div class="card">
          <img class="card-img-top" src="https://dummyimage.com/300x220/55595c/fff" 
          alt="Card image cap">
          <div class="card-body">
          <h4 class="card-title"><a routerLink="/products/{{pdt.id}}" 
              title="View Product">{{pdt.name}}</a></h4>
            <p class="card-text">Some quick example text to build on the card 
              title and make up the bulk of the</p>
            <div class="row">
              <div class="col">
                <p class="btn btn-danger btn-block">{{pdt.price}}</p>
              </div>
              <div class="col">
                <a class="btn btn-success btn-block" (click)="handleAddToCart(pdt)">Add to cart</a>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>