<div class="container">
  <form class="form-signin col-md-6 offset-md-3" #loginForm="ngForm" ngNativeValiate (ngSubmit)="handleLogin(loginForm)">
    <div class="text-center mb-4">
      <p>Sign In here</p>
    </div>

    <div class="form-label-group">
      <label for="inputEmail">Email address - eve.holt@reqres.in</label>
      <input type="email" ngModel name="email" class="form-control" placeholder="Email address" required>
    </div>

    <div class="form-label-group">
      <label for="inputPassword">Password - cityslicka</label>
      <input type="password" ngModel name="password" class="form-control" placeholder="Password" required>
    </div>

    <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
  </form>
</div>